/* src/components/Carousel.css */

.carousel-container {
  overflow: hidden;
  padding: 40px;
}

.carousel {
  display: flex;
  cursor: grab;
}

.inner-carousel {
  display: flex;
}

.item {
  min-width: 200px;
  min-height: 320px;
  /* margin-right: 0.5rem; */
  /* background: #afafaf; */
  /* border-radius: 10px; */
  overflow: hidden;
}

/* .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
