.items
{
    background-color: red;
    color: white;
    height: 70px;
    width: 200px;
/*    margin: 20px;*/
    border: 1px dashed black;
}
#container
{
    display: flex;
    border: 2px solid gray;
    height: 400px;
    width: 800px;
    
    flex-direction: row;/*default value of flex-direction*/
/*  flex-direction:column-reverse;*/
    
/*    flex-wrap: wrap;*/
    
    
    align-items: center;
    
    align-content:center;
    
    justify-content: center;
    justify-content:space-evenly;
}
#box1
{
    flex-shrink: 0;
}
#box2
{
    flex-shrink: 5;
}
#box4
{
    flex-grow: 2;
}