*
{
    margin: 0;
    padding: 0;
}
#black
{
    background-color: black;
/*    height: 200px;*/
    width: 50px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px
/*    make corners of traffic light round*/
}
#red
{
    background-color: red;
    margin-top: 12px !important;
}
#yellow
{
    background-color: yellow;
}
#green
{
    background-color: green;
    margin-bottom: 8px !important;
}
.lights
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 10px;
}
div
{
    margin-left: 10px;
}