*
{
    border: 0;
    padding: 0px;
}
body
{
    background-color: lightgray;
    display: flex;
    justify-content: center;
}
.name
{
    background-color: white;
    width: 300px;
    height: 350px;
    position: relative;
    top: 60px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.name h2
{
    text-align: center;
}
.user-card
{
    width: 300px;
    height: 350px;
    background-color: darkgray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.profile-photo
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
.profile-photo img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 15px 90px;
    
}
.user-card .content
{
    padding: 10px 25px;
    position: relative;
    top: 20px;
/*    text-align: center;*/
}
.container
{
    margin-top: 15px; 
    display: flex;
    justify-content: space-evenly;
}
.container .abc
{
    position: relative;
    bottom: 15px;
}
.container .numbers
{
    text-align: center;
    font-size: 17.5px;
}
.user-card .buttons
{
    position: relative;
    bottom: 10px;
    left: 60px;  
}
.button1
{
    margin: auto 5px;
    padding: 8px 10px;
    font-size: 17px;
    border-radius: 20px;
}