*
{
    margin: 0;
    padding: 0;
    border: border-box;
}
.navbar
{
    background-color: blueviolet;
    display: flex;
}
.logo
{
    width: 100px;
    height: 50px;
    background-image: url(WhatsApp Image 2023-10-23 at 2.27.22 PM.jpeg);
    background-size: cover;
}