.card {
  width: 28rem;
  max-height: 38rem;
  padding: 2.5rem;
  /* border: 1px solid black; */
  background: rgb(0, 217, 255);
  background: linear-gradient(
    162deg,
    rgba(0, 217, 255, 1) 50%,
    rgba(0, 60, 255, 1) 100%
  );
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
img {
  width: 5rem;
}
.search-btn {
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
  border: none;
}
.input-box {
  padding: 1rem;
  width: 20rem;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 25px;
  border: none;
  /* margin-bottom: 14.4rem; */
}
.search-box {
  display: flex;
  gap: 1rem;
}
.temp {
  font-size: 5rem;
}
.other-info {
  width: 30rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 2.2rem;
  gap: 2rem;
}
.humidity,
.wind-speed {
  width: 10rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.wind-speed {
  width: 15rem;
}
.label {
  width: 30rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 2.2rem;
  left: 2.5rem;
}
.image {
  width: 16rem;
  /* position: absolute;
  top: 5.6rem; */
}
.location {
  font-size: 3.5rem;
}
