#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  width: 380px;
  /* border: 1px solid white; */
}
#display {
  width: 250px;
  height: 50px;
  margin: 1rem;
  font-size: 18px;
}
