nav {
  height: 50px;
  background-color: purple;
  display: flex;
  align-items: center;
}
ul {
  margin-left: 2rem;
  display: flex;
  gap: 2rem;
  font-size: 18px;
}
ul li {
  padding: 0.5rem;
  list-style: none;
  color: white;
}
.red {
  border-radius: 5px;
  color: white;
  background-color: red;
  text-decoration: none;
}
